doctype html
html
  head
    title Привет всем!
    script(src='/js/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/client.js')
    body
    div.main(align='center')
      h1 Blunk Node.js Socket Project
      input#textBox
      button#sendData Send Data
      div#info